<!DOCTYPE html>
<html>
<title>Fedigram</title>
    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 250px);
            gap: 10px
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    </style>
    <body>
        <h1>Welcome to fedigram</h1>
        <hr/>
        <div class="grid">
        {% for photo in photos %}
            <div>
                <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
                <p>{{ photo.title }}</p>
            </div>
        {% endfor %}
        </div>
        <hr/>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </body>
</html>